.fs-1 {
  font-size: 0.75rem;
}

.fs-2 {
  font-size: 1rem;
}

.fs-3 {
  font-size: 1.25rem;
}

.fs-4 {
  font-size: 1.5rem;
}

.fs-5 {
  font-size: 2rem;
}

.fs-6 {
  font-size: 2.5rem;
}

.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.ta-left {
  text-align: left;
}

.tt-uppercase {
  text-transform: uppercase;
}

.tt-lowercase {
  text-transform: lowercase;
}

.tt-capitalize {
  text-transform: capitalize;
}
